.l-footer {
  position: relative;
  background: url("../img/common/bg-footer.png") no-repeat;
  background-size: cover;
  background-position: center 12px;
  width: 100%;
  height: auto;
  text-align: center;
  padding: 35px 0 0;
  margin-top: -100px;

  &__logo {
    margin-bottom: 40px;

    &__anchor {
      text-decoration: none;
      color: inherit;
    }
  }

  &__icon-container {
    height: 28px;
    display: flex;
    justify-content: center;
    gap: 25px;
    margin-bottom: 40px;

    &__icon {
      position: relative;

      &:hover {
        opacity: 0.9;

        &::after {
          position: absolute;
          content: "";
          height: 10px;
          width: 16px;
          background: url("../img/common/arrow-up-pink.svg") no-repeat;
          background-size: contain;
          bottom: -20px;
          left: 0;
          right: 0;
          margin: auto;
        }
      }
    }
  }

  &__copyright {
    text-align: center;
    padding: 7.5px 0;
    background: $primary;
  }
}
