.c-button {
  display: block;
  text-align: center;
  width: max-content;
  padding: 10px 42px;
  background: #fff;
  border: 0.5px solid $secondary;
  border-radius: 40px;
  text-decoration: none;
  color: $primary;
  transition: 0.3s;

  &:hover {
    opacity: 0.7;
  }

  &.is-primary {
    background: blue;
    color: #fff;
    font-weight: bold;
  }

  &.is-secondary {
    background: green;
    color: #fff;
  }
}
