.c-form {
    &__table {
        width: 100%;
        table-layout: fixed;
        border-spacing: 1rem;

        &__row {
            width: 100%;

            &__td {
                width: 100%;
            }

            &:first-child &__td input {
                background: rgba(199, 139, 153, 0.2);
            }

            &:nth-child(2) &__td input {
                background: rgba(199, 139, 153, 0.4);
            }

            &:nth-child(3) &__td input {
                background: rgba(199, 139, 153, 0.6);
            }

            &:last-child &__td textarea {
                background: rgba(199, 139, 153, 0.8);
            }
        }
    }

    &__input,
    &__textarea {
        padding: 1rem;
        width: 100%;
        border-radius: 0.3rem;
        border: none;

        &:focus {
            outline: 1px solid $primary;
        }
    }

    &__send {
        background: $primary;
        appearance: none;
        margin: 2rem auto;
        cursor: pointer;
        border: 1px solid $primary;
        border-radius: 0.3rem;
        color: #fff;

        &::after {
            display: none;
        }

        &:hover {
            background: $secondary;
            border: 1px solid $secondary;
        }
    }
}
