//PC

$pc-layout-width: 1920;
$pc-margin: 4rem;
$pc-min-width: calc(#{$pc-layout-width}px + #{$pc-margin * 2});

// SmartPhone
$sp-width: 375;
$sp-width-breakpoint: $sp-width * 2;
$sp-margin: 1rem;

//default
$font-default: 'Noto Sans', sans-serif;
$color-default: #707070;
$font-size-default: 16px;

//color
$primary: #C78B99;
$secondary: #707070;
